{
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-console": "off",
        // See https://eslint.org/docs/latest/rules/brace-style#stroustrup
        "@typescript-eslint/brace-style": ["error", "stroustrup"],
        "no-underscore-dangle": "off",
        "no-plusplus": "off"
    },
    "ignorePatterns": [
        "build",
        "node_modules"
    ]
}